body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #2980b9;
    color: #fff;
    text-align: center;
    padding: 0.5em;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1em;
}

section {
    padding: 1em;
}

footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 1em;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

.headerImageContainer {
    width: 100%;
    height: 300px;
    background-color: #f4f4f4;
}

.headerImage {
    object-fit: cover;
    height: 100%;
    width: 100%;
}


*, *::before, *::after {
    box-sizing: border-box

}

body {
    margin: 0;
}

.carousel {
    width: 50vw;
    height: 80vh;
    position: relative;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255 , 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0 , 0, .1);
}


.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
    outline: 1px solid black;
}
  
.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}

.photos {
    display: flex;
    justify-content: center;
}

.card {
    width: 350px;
    background-color: white;
    margin: 20px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6%;
    box-shadow: 10px 10px 27px -24px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 27px -24px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 27px -24px rgba(0,0,0,0.75);
}

.testimonialPhotoContainer {
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
    
}

.testimonialPhoto {
    text-align: center;
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.carouselSlide {
    height: 100px;
    width: 100px;
    background-color: red;
}

.testimonials {
    display: flex;
    justify-content: center;
}